@model Client.Models.Career

<div class="row col-12 col-sm-10 col-md-8 m-auto">
    <form asp-controller="Career" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1 class="text-center my-3 fs-4">Update Career</h1>
        <input asp-for="Id" hidden />
        <div class="form-group row my-1">
            <div class="col-4">
                <label asp-for="Name" class="form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row my-1">
            <div class="col-4">
                <label asp-for="Code" class="form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="Code" class="form-control" />
            </div>
        </div>
        <div class="form-group row my-1">
            <div class="col-4">
                <label asp-for="School" class="form-label"></label>
            </div>
            <div class="col-8">
                <select asp-for="SchoolId" class="select form-control"></select>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="form-group row col-12 col-sm-10 col-md-9 col-lg-8 mx-auto">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6">
                    <a asp-controller="Career" asp-action="Index" class="btn btn-secondary form-control">Return to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready( function() {
            $.ajax({
                url: '@Url.Action("SchoolList", "School")',
                type: 'GET',
                success: function (data) {
                    for (i in data) {
                        if (data[i].value == @Model.SchoolId) {
                            $('.select').append('<option value="' + data[i].value + '" selected >' + data[i].text + '</option>')
                        } else {
                            $('.select').append('<option value="' + data[i].value + '">' + data[i].text + '</option>')
                        }
                    }
                }
            });
        })
    </script>
}
