@model Client.Models.Faculty

@{
    var br = "\n";
    var cname = "\tCareer: ";
    var sname = "School: ";
}

<div class="row col-12 col-sm-10 col-md-8 m-auto">
    <h1 class="text-center my-3 fs-4">Details Faculty</h1>
    <div class="form-group row my-1">
        <div class="col-4">
            <label asp-for="Name" class="form-label"></label>
        </div>
        <div class="col-8">
            <input asp-for="Name" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row my-1">
        <div class="col-4">
            <label asp-for="Code" class="form-label"></label>
        </div>
        <div class="col-8">
            <input asp-for="Code" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row my-1">
        <div class="col-12">
            <label asp-for="Schools" class="form-label"></label>
        </div>
        <div class="col-12">
            <textarea readonly rows="5" class="form-control">
            @foreach (var school in Model.Schools) {
                @sname @school.Name @br
                @foreach (var career in school.Careers) {
                    @cname @career.Name @br
                }
            }
            </textarea>
        </div>
    </div>
    <div class="form-group row my-1">
        <div class="form-group row col-12 col-sm-10 col-md-9 col-lg-8 mx-auto">
            <div class="col-6">
                <a asp-controller="Faculty" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-primary form-control">Edit</a>
            </div>
            <div class="col-6">
                <a asp-controller="Faculty" asp-action="Index" class="btn btn-secondary form-control">Return to List</a>
            </div>
        </div>
    </div>
</div>